[language-server.pylsp.config]
# Tweak pycodestyle’s max-line-length to match black’s default line-length.
# This will need tweaking per-project in $project_root/.helix/language.toml
pylsp.plugins.pycodestyle.maxLineLength = 88

[language-server.vscode-eslint-language-server.config]
experimental.useFlatConfig = false
nodePath = ""
problems.shortenToSingleLine = false
rulesCustomizations = []
run = "onType"
validate = "on"

[[language]]
name = "javascript"
language-servers = [
  "typescript-language-server",
  "vscode-eslint-language-server",
]

[[language]]
name = "jsx"
language-servers = [
  "typescript-language-server",
  "vscode-eslint-language-server",
]

[[language]]
name = "typescript"
language-servers = [
  "typescript-language-server",
  "vscode-eslint-language-server",
]

[[language]]
name = "tsx"
language-servers = [
  "typescript-language-server",
  "vscode-eslint-language-server",
]

[[language]]
name = "python"
auto-format = true
