[core]
  excludesfile = ~/.gitignore
  pager = less --mouse
[diff]
  colorMoved = zebra
  colorMovedWS = allow-indentation-change
[http]
  cookiefile = ~/.gitcookies
[init]
  defaultBranch = main
[merge]
  conflictstyle = diff3
  ff = false
[pull]
  rebase = true
[push]
  autoSetupRemote = true
[url "https://github.com/"]
  insteadOf = github:
[user]
  name = Liam Newmarch
  useConfigOnly = true
